.outerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3.5vh;
  min-height: 90vh;
  height: auto;
}

.innerContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 40px;
  padding-bottom: 15vh;
  overflow: visible;
  box-sizing: border-box;
}

.innerContainer > * {
  width: 400px;
}

@media screen and (max-width: 1450px) {
  .innerContainer {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 1000px) {
  .innerContainer {
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .outerContainer {
    padding-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .innerContainer > * {
    width: auto;
    max-width: 350px !important;
  }
}
