.outerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5vh;
  /* min-height: 90vh; */
  height: auto;
}

.innerContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 40px;
  padding-bottom: 5vh;
  overflow: visible;
  box-sizing: border-box;
}

.innerContainer > * {
  width: 400px;
}

.backToGalleryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 3em;
  margin-top: 1em;
  background-color: transparent;
  font-size: 1.2em;
}

.backToGalleryButton:hover {
  text-decoration: underline;
}

.backArrow {
  width: 25px;
  height: 25px;
  margin-right: 1em;
}

@media screen and (max-width: 1450px) {
  .innerContainer {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 1000px) {
  .innerContainer {
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
  }

  .backToGalleryButton {
    font-size: 1em;
  }

  .backArrow {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .outerContainer {
    padding-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .innerContainer > * {
    width: auto;
    max-width: 350px !important;
  }
}
