.logo {
  width: 9rem;
  height: auto;
  margin-left: 2.3vw;
}

.logo:hover {
  cursor: pointer;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.hideLogoOnHomePage {
  opacity: 0;
  cursor: default !important;
}

@media screen and (max-width: 1440px) {
  .logo {
    width: 6.5rem;
  }
}

@media screen and (max-width: 1300px) {
  .logo {
    margin-left: 3.3vw;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 4.3vw;
    width: 5rem;
  }
}
